@import url("https://fonts.googleapis.com/css?family=Merriweather|Raleway|Open+Sans");

html,
body,
#root,
.App {
  height: 100%;
  overflow-y: auto;
}

/* Override ugly default anchor styling */
a {
  text-decoration: none!important;
  color: inherit;
}