html,
body,
#root,
.App {
  height: 100%;
  overflow-y: auto;
}

/* Override ugly default anchor styling */
a {
  text-decoration: none!important;
  color: inherit;
}

/* --------------------------- */
/* styling for text input area */
/* --------------------------- */

.selected-text {
  font-size: 2rem;
  text-align: center;
}

#user-input { /* user types here */
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Merriweather', monospace;
}

/* ---------------------------------- */
/*   change textarea into paragraph   */
/* ---------------------------------- */
.paragraph-input {
  font-family: 'Gelasio', monospace;
  font-size: 1.5rem;
  cursor: default;
  /* word wrap explained */
  /* https://www.w3schools.com/cssref/css3_pr_word-wrap.asp */
  /* very important line... */
  word-wrap: break-word;
}

.paragraph-input div {
  display: inline-block;
  margin-right: 3px;
  padding: 0 6px;
  font-size: 1.8rem;
}

.paragraph-input div.active {
  background-color: #3282b8;
  color: #bbe1fa;
}

/* signature on top right */
.signature {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  padding: 5px 8px;
}

.signature a:hover {
  color: #fff;
  text-decoration: underline!important;
}

/* github icon inside signature */
.gh-logo {
  width: 20px;
  height: 20px;
}

/* duh */
.timer {
  font-size: 3.75rem;
  text-align: center;
}