/* color palette */
/* https://colorhunt.co/palette/167893 */
/* ------------- */

body {
  color: #bbe1fa; /* to celebrate the new year */
  background-color: #0f4c75;
}

/* textarea and input box */
textarea.form-control,
.form-control:disabled, .form-control[readonly],
#user-input {
  background-color: #3282b8;
  color: #bbe1fa;
  border: 0;
}

/* placeholder for user input... yuck */
#user-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #98b6ca;
  opacity: 1; /* Firefox */
}

#user-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #98b6ca;
}

#user-input::-ms-input-placeholder { /* Microsoft Edge */
  color: #98b6ca;
}

/* user makes an error */
#user-input.error {
  background-color: #ea9085;
  color: #35495e;
  border: 0;
}

/* input focus */
#user-input:focus {
  outline: 0;
  box-shadow: #bbe1fa 0 0 5px;
}

/* ------------------ */
/* substring handlers */
/* ------------------ */
/* (user error on input) */

span.substr-a {
  color: #6a8caf;
}

span.substr-b.error {
  background-color: #e89da2;
  color: #3282b8;
}

/* timer when completed */
.timer.done span {
  padding: 0 10px;
  cursor: pointer;
}

.timer {
  background-color: #bbe1fa;
  color: #0f4c75;
  border-radius: 10px;
}